.main
  width 56rem
  margin 3rem auto
.post
  margin 0 auto
  background-color #FFFFFF
  padding 1rem
  margin-top 1.5rem
  border-radius 5px
  box-shadow 0 5px 10px rgba(0,0,0,.05)
.post-title
  margin-bottom .5rem
.post-title-link
  color #000000
  transition .2s ease
  -webkit-transition .2s ease
  &:hover
    color #3476e0
    text-decoration none
.post-meta
  margin-bottom .5rem
.post-content
  margin-bottom .5rem

@media screen and (max-width: 1024px) 
  .main
    width 40rem
