<footer class="footer">
  <div class="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %><br>
    Powered By <a href="https://hexo.io/">Hexo</a> and <a href="https://github.com/Mcskiller/hexo-theme-aquarius">Aquarius</a>
  </div>
</footer>